.app {
  display: flex;
  justify-content: space-around;  
  min-width: 1000px;
}

.app > div {
  min-width: 400px
}

.items {
  margin-top: 30px;
  font-size: 18px;
}

.item span {
  float: right;
  padding-left: 10px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

form input {
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  color:gray;
  outline: none
}

.buttons input {
  border: 1px solid #4377B4;
  background-color: #4377B4;
  border-radius: 5px;
  color: white;
  height: 32px;
  max-width: 200px;
  margin-right: 20px;
}


.buttons span {
  color: #4377B4;
}
