.app {
  display: flex;
  justify-content: space-around;  
  min-width: 1000px;
}

.app > div {
  min-width: 400px;
  margin-top: 10px;
  font-size: 18px;
}

.items-list > div {
  margin-top: 20px;
}

.checked-items {
  margin-top: 30px;
}

.item {
  display: flex;
  justify-content: space-between;  
}

.item span {
  float: right;
  padding-left: 10px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

form input {
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  color:gray;
  outline: none
}

.buttons input {
  border: 1px solid white;
  background-color: #4377B4;
  border-radius: 5px;
  color: white;
  height: 32px;
  max-width: 200px;
  margin-right: 20px;
}

.buttons input:hover {
  cursor: pointer;
  background-color: gray
}

.buttons span {
  color: #4377B4;
}

span:hover {
  cursor: pointer;
  color: gray
}

